.form {

    a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em 0 0 0;
        color: #ADADAD;
    }

    a:hover {
        color: rgb(59, 59, 59);
    }

    padding-top: 1em;

    .button {
        margin-top: 1em;
    }
}
