.popap-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

    h2 {
        margin: 0;
        font-size: 1.5em !important;
        
    }

    span {
        display: flex;
        justify-content: center;
        text-align: center;
        opacity: 0.5;
        font-size: 1em;
    }

}