// colors
$date-text: rgb(87, 87, 87);

$error-color: #f4433688;
$error-background: #F4433609;
$error-text-color: #f44336bd;

$ok-color: #13e93788;
$ok-background: #13e93707;

$bubble-backgroun: #3674FF;
$bubble-shadow: rgba(0,0,0,0.75);
$bubble-text: white;

$bubble-backgroun-me: #3674FF;
$bubble-shadow-me: rgba(0,0,0,0.75);
$bubble-text-me: white;
$bubble-border-me: #3674FF;

$online-user: #39eb83;
$offline-user: rgb(247, 123, 140);
$dialog-item-hover: rgba(0, 0, 0, 0.05);

// mixins
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}