// colors
$error-color: #f4433688;
$error-background: #F4433609;
$error-text-color: #f44336bd;

$ok-color: #13e93788;
$ok-background: #13e93707;

$bubble-backgroun: #3674FF;
$bubble-shadow: rgba(54, 116, 255, 0.196733);
$bubble-text: white;

$bubble-backgroun-me: white;
$bubble-shadow-me: rgba(0, 0, 0, 0.0220444);
$bubble-text-me: black;
$bubble-border-me: #ECECEC;

// mixins
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}