@import '../../styles/constants.scss';

@include keyframes(status-message-show) {
    0% { transform: scale(0, 0); }
    100% { transform: scale(1, 1); }
}
    
.send-show-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d6d6d6;
    height: 100%;
    width: 100%;
    font-weight: 400;
    animation: status-message-show 0.15s;
    position: absolute;
    
    .anticon {
        font-size: 5rem;
    }
}