@import '../../styles/constants.scss';

.message {
    .audio-message {
        $audio-message: '.audio-message';
        width: 16rem;
        &--play {
            span {
               // color: white !important;
            }
        }

        position: relative;

        &:after{
            content: '';
            border-style: solid;
            position: absolute;
            border-width: 15px 15px 0px 0;
            border-color: transparent $bubble-backgroun;
            display: block;
            width: 0;
            z-index: 1;
            bottom: 0;
            left: -10px;
        }

        &__container {
            display: flex;
            background: $bubble-backgroun;
            box-shadow: 0px 5px 5px $bubble-shadow;
            border-radius: 12px 12px 12px 0px;
            color: $bubble-text;
            opacity: 1 !important;
            font-weight: 400;
            padding: 5px 13px 5px 13px;
            margin: 0;
            position: relative;
            justify-content: space-between;
            align-items: center;
       
            &:before {
                content: '';
                height: 1rem;
                width: 1rem;
                background-color: #fff;
                position: absolute;
                left: 25px;
                z-index: 0;
            }

            
            
            span {
                margin: 0;
                padding: 0 0.5rem 0 0.5rem !important;
                display: flex !important;
                align-items: center;
                
                color: #fff;
                opacity: 1 !important;
            }
        }

        #{$audio-message}__button {
            color: #0F3997;
            z-index: 1;
            transition: all ease 0.3s;
        }

        :hover{
            #{$audio-message}__button {
                transform: scale(1.1, 1.1);
            }
            
            cursor: pointer;
        }
    }
}

.message--isMe {
    .audio-message {
        &__container {
            background: $bubble-backgroun-me;
            border-radius: 12px 12px 0px 12px;

        }

        &::after {
            display: none;
        }

        &::before{
            content: '';
            background-color: $bubble-border-me;
            clip-path: polygon(0 0, 0 100%, 100% 100%);
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            z-index: 1;
            bottom: -1px;
            right: -10px;
        }
    }
}