@import '../../styles/constants.scss';

.dialogs__item {
    $dialog: '.dialogs';
    transition: 0.2s 0s ease;
    cursor: pointer;
    display: flex;
    padding: 0.7rem 1rem;

    &:hover {
        background-color: $dialog-item-hover;
    }

    &-avatar--not-read {
        .avatar {
            box-shadow: 0px 0px 6px 0px rgba(57,235,131,1);
        }
    }

    &-avatar {
        position: relative;
        .avatar {
            width: 2.5rem;
            height: 2.5rem;
        }

        &:before{
            content: '';
            display: block;
            position: absolute;
            border: 3px solid white;
            border-radius: 50%;
            background-color: $offline-user;
            width: 1rem;
            height: 1rem;
            bottom: 0;
            right: 0;
        }
    }

    #{$dialog}--online:before {
        background-color: $online-user;
    }

    #{$dialog}--not-read {
        opacity: 1 !important;
        font-weight: bolder;
        color: $online-user;

        #{$dialog}--date {
            font-weight: bold;
        }
    }

    &-info {
        width: 100%;
        padding-left: 11px;
        &-top {
            display: flex;
            justify-content: space-between;

            #{$dialog}--date {
                font-size: 0.9em;
                opacity: 0.7;
            }
            
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            p {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;  
                overflow: hidden;
                margin: 0;
                padding: 0;
            }

            #{$dialog}--status {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
            }

        }
    }
}