@import 'styles/constants.scss';

.status {

    span {
        background-color: $online-user;
        border-radius: 45%;
        height: 1.2rem;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.4rem;
        color: white;
        font-weight: bold;
    }

    img {
        padding-right: 1rem;
    }
}