@import '../../styles/constants.scss';

.input-message{
    $block: &;
    padding: 0 2.1rem;

    span {
        outline: none;
    }

    .anticon {
        font-size: 1.2rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        color: #7F7F7F;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgb(221, 219, 219);
        }
    } 

    &__form {
        padding-bottom: 17px;

        #{$block}__input-container {
            min-height: 3rem;
            outline: none;
            border: 1px solid #E9E9E9;
            padding: 10px 8rem 10px 3rem;
            border-radius: 4px;
            position: relative;

            #{$block}__input {
                width: 100%;
                outline: none;
                border: none;
                overflow: hidden;
                overflow-y: scroll;
                max-height: 40vh;
                
                font-weight: 400;

                a {
                    border: none;
                }
            }

        }
    }

    #{$block}__text-send {
        position: absolute;
        right: 2.5rem;
        bottom: 20px;
        z-index: 2;
    }
        
    #{$block}__emoji {
        z-index: 2;
        position: absolute;
        left: 2.3rem;
        bottom: 20px;

        &:hover ~ #{$block}__emoji-picker{
            z-index: 10;
        }

    }

    #{$block}__emoji-picker {
        position: absolute;
        bottom: 58px;
        z-index: -10;
        overflow: hidden;

        button {
            outline: none;
        }

        .emoji-mart-preview {
            display: none;
        }

        &:hover {
            z-index: 10;
            overflow: visible;
        }
        
        span:hover {
            cursor: pointer;
        }
    }

    #{$block}__document {
        z-index: 2;
        position: absolute;
        right: 7.7rem;
        bottom: 20px;
    }
    
    #{$block}__audiosend {
        z-index: 2;
        position: absolute;
        right: 5.1rem;
        bottom: 20px;
    }
    
}