.dialogs {
    
    border-right: 1px solid #E7EFFE;
    overflow: hidden;


    input {
        width: 100%;
        height: 2.5rem;
        border: none;
        border-bottom: 1px solid #e7effe;
        outline: none;
        border-radius: 2px;
        background-color: #ffffff;
        padding: 11px 11px 11px 37px;
        margin: 0;
        transition: all 0.2s ease-in-out;

        &:focus {
            border-bottom: 1px solid #3674FF;
        }

        &::placeholder {
            color: #CBCBCB;
        }
    }

    &__input-container {
        color: #CBCBCB;
        display: flex;
        align-items: center;
        padding: 0 1.5rem; 
        height: 6rem;
        position: relative;
        
    }

    &__icon {
        position: absolute;
        left: 2.5rem;
    }

    &__input-items {
        overflow-y: scroll;
        padding-bottom: 30%;
        height: 100%;
    }
}