@import '../../styles/constants.scss';

.message {
    $self: &;
    display: flex;
    padding-bottom: 15px;

    &--isMe {
        flex-direction: row-reverse;

        #{$self}__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                background: $bubble-backgroun-me;
                border: 1px solid $bubble-border-me;
                box-shadow: 0px 4px 4px $bubble-shadow-me;
                border-radius: 12px 12px 0px 12px;
                color: $bubble-text-me;
            }

            #{$self}--befor {
                position: relative;
        
                &::before{
                    display: none;
                }

                &::after{
                    content: '';
                    background-color: $bubble-border-me;
                    clip-path: polygon(0 0, 0 100%, 100% 100%);
                    position: absolute;
                    display: block;
                    width: 10px;
                    height: 10px;
                    z-index: 1;
                    bottom: -1px;
                    right: -11px;
                }
            }
        }

    }

    &__avatar {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 13px 28px 13px;

        div {
            position: sticky;
            bottom: 0;
        }

        .avatar {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            font-size: 0.7rem;
        }
    }

    &__content {
        max-width: 70%;
        display: inline;
        p {
            display: inline-block;
            background: $bubble-backgroun;
            box-shadow: 0px 5px 5px $bubble-shadow;
            border-radius: 12px 12px 12px 0px;
            color: $bubble-text;
            padding: 13px;
            margin: 0;
        }

        #{$self}--befor {
            position: relative;
    
            &::before{
                content: '';
                border-style: solid;
                position: absolute;
                border-width: 15px 15px 0px 0;
                border-color: transparent $bubble-backgroun;
                display: block;
                width: 0;
                z-index: 1;
                bottom: 0;
                left: -10px;
                
            }
        }

        span {
            display: block;
            padding-top: 8px;
            height: 28px;
            line-height: 14px;
            opacity: 0.4;
            color: $date-text;
        }
    }
}